body {
  overflow: hidden;
  max-width: 100%;
  height: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("pics/01.jpg") no-repeat 0% 20%/ cover;
  background-position: center top;
  margin: auto;
  background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
  font-family: 'Roboto', sans-serif;
}

#intro .jumbotron{
  height:100vh;
  background:rgba(156, 155, 152,0.65);
}

#intro .container{
  position:relative;
  top:45%;
  transform:transformY(-45%);
}

#intro h1{
  font-size:8vh;
  font-weight:650;
  line-height:1.5;
  color:#fffbed;
}

#intro p{
  font-size:16px;
  font-weight:600;
  line-height:1.25;
  color:black;
}

#intro .btn{
  font-weight:600;
  background:#cc8449;
  padding:9px 25px;
  color:white;
  border-radius:5px;
}