body{
  margin:0;
  padding:0;
  background-color: #cbc0b3;
  overflow: auto;
}



@keyframes dpmove {
  from {left:-20%;}
  to {left:0;}
}
.dp{
  width: 20%;
  height:100vh;
  margin:0;
  padding:0;
  background-color: #f1e4d5;
  left:0;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  animation-name:dpmove;
  animation-duration:1s;
  animation-timing-function: ease-out;
}


@keyframes logo {
  from {-webkit-transform:translateY(-2px);}
  to {-webkit-transform:translateY(2px)}
}
.logo a{
  width:18%;
  margin-top:20px;
  margin-left:10px;
  padding:0px;
  z-index:10;
  position: fixed;
  animation-name:logo;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.logo a img{
  width:100%;
  height:auto;
}


ul.menu{
  background-color: #f1e4d5;
  width:20%;
  height:auto;
  list-style-type: none;
  padding:0;
  margin-top:150px;
  display: block;
  z-index:5;
  position: fixed;
}
.menu li a {
  font-weight: bold;
  display: block;
  color: #238489;
  padding: 10px 0px 10px 30px;
  text-decoration: none;
}
.menu li a:hover {
  background-color:#f1e4d5;
  color: white;
}
.menu li:hover > a{
  background-color: #238489;
  color: white;
}


.menu ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
.menu ul li{
  background-color:#238489;
}
.menu li ul a {
  display: block;
  margin:0;
  padding: 5px 0px 5px 30px;
  font-size: 0.85em;
  background-color:#177177;
  color:white;
}
.menu li ul a:hover {
  background-color:#005555;
  color:white;
}
.menu ul {
  display: none;
}
.menu li:hover > ul {
  display: block;
}



.SP{
  height:auto;
  margin-left:30px;
  bottom:0;
  z-index:-10;
  position:fixed;
  font-size:0.5em;
}


@keyframes cEout {
  0%{opacity:0;}
  25%{opacity:0;}
  100% {opacity:1;}
}