
body{
  background-color: #cbc0b3;
}
#carouselExampleIndicators{
  width:80%;
  height:auto;
  position:fixed;
  right:0px;
  background-color: #cbc0b3;
}
img{
  height:100vh;
  width:auto;
  object-fit: contain;
}
.dp{
  width: 20%;
  height:100vh;
  margin: 0;
  padding: 150px 0px;
  background-color: #f1e4d5;
  position: fixed;
  left:0;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}
ul.menu {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding:0;
  left:0;
}
//.menu li {
  border-bottom: 1px solid #555;
}
//.menu li:last-child {
  border-bottom: none;
}
.menu li a {
  display: block;
  color: #238489;
  padding: 10px 35px;
  text-decoration: none;
}
.menu li a:hover {
  background-color: #238489;
  color: white;
}
.menu li:hover > a{
  background-color: #238489;
  color: white;
}
.menu ul{
  margin:0 10%;
  width:10%;
  list-style-type: none;
  position:fixed;
  z-index: 99;
}
.menu ul li{
  background-color:#f1e4d5;
  //border-bottom: 1px solid #555;
}
//.menu ul li:last-child {
  border-bottom: none;
}
.menu li ul a {
  display: block;
  color:#238489;
  padding: 5px;
  text-align:center;
}
.menu li ul a:hover {
  background-color:#238489;
  color:white;
}
.menu ul ul{
  z-index: 999;
}
.menu ul {
  display: none;
}
.menu li:hover > ul {
  display: block;
}